<div class="col-12 font-weight-light">
    <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2018</b> All rights reserved.

    </p>
</div>


<script src="/javascripts/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="/javascripts/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="/javascripts/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="/javascripts/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="/javascripts/tooplate-scripts.js"></script>