<div class="container h-100">
    <a class="navbar-brand" href="/">
        <h1 class="tm-site-title mb-0">Product Admin</h1>
    </a>
    <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars tm-nav-icon"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <i class="fas fa-tachometer-alt"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-file-alt"></i>
                    <span>
                        Profile <i class="fas fa-angle-down"></i>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/users/login">Log In</a>
                    <a class="dropdown-item" href="/users/signup">Sign Up</a>
                    <a class="dropdown-item" href="/users/logout">Log Out</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/leads">
                    <i class="fas fa-shopping-cart"></i>
                    Leads
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                    <span>
                        Scheduling <i class="fas fa-angle-down"></i>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/postgres/coursesearch">Course Search</a>
                    <a class="dropdown-item" href="/postgres/createcourse">Course Create</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                    <span>
                        User Settings  <i class="fas fa-angle-down"></i>
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/postgres/createnewuser">Create new user</a>
                    <a class="dropdown-item" href="/postgres/usersearch">User search</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link d-block" href="/users/logout">
                    <b>Logout</b>
                </a>
            </li>
        </ul>
    </div>
</div>